<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_ninja_run_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,49}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{65,49}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{63,49}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{63,49}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{57,47}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{57,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{53,43}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{53,43}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{55,43}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{55,43}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,151},{61,45}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{61,45}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,102},{59,47}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{59,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,51},{55,49}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{55,49}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,198},{53,47}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{53,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{61,47}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{61,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninja.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe9832ed6a71eec5ddd916a16ca3de35:1/1$</string>
            <key>textureFileName</key>
            <string>ninja.png</string>
        </dict>
    </dict>
</plist>
