<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_ninja_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,96},{55,51}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{55,51}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{55,53}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{55,53}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{53,45}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{53,45}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,149},{53,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{53,41}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{57,39}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{57,39}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{57,47}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{57,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,49}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{57,49}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{55,45}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,40},{55,45}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,204},{53,39}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{53,39}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,51},{57,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{57,43}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninja.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b27b90cc2a7c5bcdd6e2c34fffcd221:1/1$</string>
            <key>textureFileName</key>
            <string>ninja.png</string>
        </dict>
    </dict>
</plist>
