<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_golem_run_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,68}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{78,68}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{76,68}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{76,68}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{76,66}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{76,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,324},{74,60}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,35},{74,60}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{76,62}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{76,62}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,200},{76,62}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{76,62}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,138},{76,62}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{76,62}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{76,62}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{76,62}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,322},{74,64}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{74,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,134},{76,64}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{76,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,66},{76,66}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{76,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{74,68}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,35},{74,68}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,386},{72,64}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{72,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{72,60}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,37},{72,60}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{74,56}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{74,56}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,264},{76,58}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{76,58}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,262},{76,58}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{76,58}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,202},{76,58}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{76,58}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{78,62}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,72},{76,64}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,34},{76,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golem.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cca4386dfac366414eaaf9a2ee9cf032:1/1$</string>
            <key>textureFileName</key>
            <string>golem.png</string>
        </dict>
    </dict>
</plist>
