<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_golem_run_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,170},{54,64}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,29},{54,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{56,62}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,30},{56,62}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,252},{52,60}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{52,60}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,276},{48,60}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,33},{48,60}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,124},{48,60}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,33},{48,60}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,60},{48,62}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{48,62}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,224},{50,64}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,30},{50,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,226},{50,62}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,29},{50,62}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,186},{52,64}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,27},{52,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,116},{52,66}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,25},{52,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{52,66}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,26},{52,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,60},{54,66}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,27},{54,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{56,64}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,29},{56,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,166},{56,64}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,29},{56,64}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{56,66}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{56,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{56,66}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,28},{56,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,56},{54,66}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,28},{54,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{52,68}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,27},{52,68}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,68}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,27},{52,68}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>monster_golem_run_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,112},{52,66}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,29},{52,66}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golem.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cb209bf32e1e964e114a5550072ba91:1/1$</string>
            <key>textureFileName</key>
            <string>golem.png</string>
        </dict>
    </dict>
</plist>
